PORT=5002
NODE_ENV=development
MYSQL_HOST=yamanote.proxy.rlwy.net
MYSQL_PORT=12592
MYSQL_USER=root
MYSQL_PASSWORD=FejaEAbhUzBgnhQzyEzswzKtSgkumirc
MYSQL_DATABASE=railway
MYSQL_CONNECTION_LIMIT=10
MYSQL_SSL=false
